<!DOCTYPE html>
<html ng-app="angular-events">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module('angular-events', []);
      app.controller('mainCtrl', function ($scope) {
        var user = {};
        $scope.submitForm = function () {

        };
        $scope.hasError = function (input) {
          return $scope.acknowledged(input) && input.$invalid;
        };
        $scope.acknowledged = function (input) {
          return input.$dirty || input.$touched;
        }
      });
    </script>
  </head>
  <body ng-app="angular-events" ng-cloak>
    <div class="container" ng-controller="mainCtrl">
      <form ng-submit="submitForm()" novalidate name="userform">
        <div class="form-group" ng-class="{'has-error' : hasError(userform.firstname)}">
          <label for="firstname">First Name</label>
          <input ng-model="user.name" required ng-minlength=3 type="text" class="form-control" name="firstname" placeholder="First Name">
          <p class="help-block" ng-show="acknowledged(userform.firstname) && userform.firstname.$error.required">
            First name is required.
          </p>
          <p class="help-block" ng-show="acknowledged(userform.firstname) && userform.firstname.$error.minlength">
            First name must be at least 3 characters.
          </p>
        </div>
        <div class="form-group" ng-class="{'has-error' : hasError(userform.lastname)}">
          <label for="lastname">Last Name</label>
          <input ng-model="user.lastName" required ng-maxlength=10 type="text" class="form-control" name="lastname" placeholder="Last Name">
          <p class="help-block" ng-show="acknowledged(userform.lastname) && userform.lastname.$error.required">
            Last name is required.
          </p>
          <p class="help-block" ng-show="acknowledged(userform.lastname) && userform.lastname.$error.maxlength">
            Last name has a maximum length of 10 characters.
          </p>
        </div>

        <button ng-disabled="userform.$invalid" type="submit" class="btn btn-primary">Submit</button>
      </form>
      <h3 ng-bind="greeting"></h3>
    </div>
  </body>
</html>
